.formulario__container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;

    height: auto;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 70px;

    background-color: #C3DBE3;
    border-radius: 36px;
}

.perguntas__formulario button{
    flex-grow: 1;
    border-radius: 6px;
    background-color: #009ED5;
    padding: 12px 62px;
    border-style: none;

    margin-left: 17.5%;
    margin-top: 10%;

    font-family: "Lexend";
    font-size: 22px;
    font-weight:400;
    color: #ffffff;
    cursor: pointer;
}

.perguntas__formulario button:hover{
    background-color: #0178a0;
    transition: 0.4s;
}

.perguntas__formulario input{

    background-color: #ffffff;
    border-radius: 18px;
    border: 1px solid #999999;

    padding: 5.5px 28.5px;

    margin-top: 10%;

    font-family: "Lexend";
    font-size: 20px;
    font-weight:400;
    color: #888888;
}

#caixa__perguntas p{
    text-align: center;
    flex-grow: 1;
    color: #444444;
}